{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_calendars_tags %}

{% block head_title %}Pinax Calendars Demo{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1 class="text-center">{% blocktrans %}Pinax Calendars Demo{% endblocktrans %}</h1>
    <p class="lead">
        {% blocktrans %}
        <b>pinax-calendars</b> is an app that allows you to convert any arbitrary
        model that has a date field and display it on a month-based calendar view.
        {% endblocktrans %}
    </p>
    {% calendar events the_date %}
{% endblock %}
